<div id="tab5">
    <page-title>Faça o Pagamento</page-title>

    <div class="ui one column stackable center aligned page grid">
        <div class="column seven wide">

            <div class="ui segment inverted form red" id="credit_card">

                <div class="ui left aligned segment inverted red">
                    <h4>CARTÃO DE CRÉDITO</h4>
                </div>

                <div class="ui grid">
                    <div class="four wide column">
                        <label>NÚMERO</label>

                        <div class="field">
                            <input placeholder="0000" type="text">
                        </div>
                    </div>

                    <div class="four wide column">
                        <label>&nbsp;</label>

                        <div class="field">
                            <input placeholder="0000" type="text">
                        </div>
                    </div>

                    <div class="four wide column">
                        <label>&nbsp;</label>

                        <div class="field">
                            <input placeholder="0000" type="text">
                        </div>
                    </div>

                    <div class="four wide column">
                        <label>&nbsp;</label>

                        <div class="field">
                            <input placeholder="0000" type="text">
                        </div>
                    </div>
                </div>

                <div class="ui grid middle aligned">
                    <div class="four wide column">
                        <label>VALIDADE</label>
                    </div>
                    <div class="four wide column">
                        <div class="field">
                            <label>MÊS</label>
                            <select>
                                <option>01</option>
                                <option>02</option>
                            </select>
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="field">
                            <label>ANO</label>
                            <select>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <a class="ui submit button massive black" href="#/restaurant-select">Confirmar</a>
        </div>

    </div>
</div>
</div>