<page-title><a href="#/restaurant-select"><i class="icon left arrow teal"></i></a>Peça já...</page-title>
<div id="tab3">
    <div class="ui one column stackable center aligned page grid">

        <div class="column wide twelve center aligned" id="foods">

            <div class="ui cards">

                <div ng-repeat="food in foods">
                    <div class="ui card" ng-click="showDetail(food)">
                        <div class="image">
                            <img src="{{ publicApiUrl + food.avatar_url }}">
                        </div>

                        <div class="content">
                            <div class="header">{{ food.name }}</div>

                            <div class="meta">
                                <a>{{ food.description }}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<div class="ui modal">
    <i class="close icon"></i>

    <div class="header">
        Escolha a Quantidade
    </div>
    <div class="content">
        <div class="description">
            <div class="ui header">{{ food_name }}</div>
            <p class="black">{{ food_description }}</p>
            <div class="ui grid">
                <div class="column center aligned">
                    <button class="ui button blue large" ng-repeat="i in [1,2,3,4]">{{ i }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black button">
            Não, obrigado!
        </div>
    </div>
</div>
