<page-title><a href="#/restaurant-select"><i class="icon left arrow teal"></i></a>Peça já...</page-title>
<div id="tab3">
    <div class="ui one column stackable center aligned page grid">

        <div class="column wide twelve center aligned" id="foods">


            <div ng-repeat="food in foods" class="ui list">
                <div class="ui button white food item" ng-click="showDetail(food)">
                    <div class="image">
                        <img preload-image
                             ng-src="{{ food.image }}"
                             default-image="assets/images/missing.png"
                             fallback-image="assets/images/missing.png"
                             class="ui image medium">
                    </div>
                    <div class="content">
                        <h1 class="header">{{ food.name }}</h1>

                        <div class="mark" ng-show="food.chose">
                            <h2 class="ui center aligned icon header">
                                <i class="circular check icon green inverted"></i>
                            </h2>
                        </div>
                        <div class="ui active dimmer" ng-show="food.chose"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ui menu bottom fixed" ng-show="foods">
    <div class="ui grid">
        <div class="column center aligned">
            <a class="ui teal button large" href="#/review">
                <i class="check icon"></i>Pedir
            </a>
        </div>
    </div>
</div>

<div class="ui modal">
    <i class="close icon"></i>

    <div class="header">
        Escolha a Quantidade
    </div>
    <div class="content">
        <div class="description">
            <div class="ui header">{{ food_name }}</div>
            <p class="black">{{ food_description }}</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui grid">
            <div class="column center aligned">
                <div>
                    <button class="ui button blue large" ng-repeat="i in [1,2,3,4]" ng-click="check(food_id, i)">{{ i
                        }}
                    </button>
                </div>
                <br>

                <div>
                    <button class="ui black button large" ng-click="uncheck(food_id)">
                        Não, obrigado!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
