

<div id="tab2" class="ui inverted green vertical segment context" v-show="currentTab == 'tab2'">
    <div class="ui one column stackable center aligned page grid">
        <div class="column wide" id="restaurants">
            <h1 class="ui dividing header inverted">Escolha o Restaurante</h1>

            <div class="swiper-container" id="restaurants_swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="assets/images/restaurante.png"></div>
                    <div class="swiper-slide"><img src="assets/images/restaurante.png"></div>
                    <div class="swiper-slide"><img src="assets/images/restaurante.png"></div>
                    <div class="swiper-slide"><img src="assets/images/restaurante.png"></div>
                    <div class="swiper-slide"><img src="assets/images/restaurante.png"></div>
                    <div class="swiper-slide"><img src="assets/images/restaurante.png"></div>
                    <div class="swiper-slide"><img src="assets/images/restaurante.png"></div>
                    <div class="swiper-slide"><img src="assets/images/restaurante.png"></div>
                    <div class="swiper-slide"><img src="assets/images/restaurante.png"></div>
                    <div class="swiper-slide"><img src="assets/images/restaurante.png"></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination" id="restaurants_swiper_pagination"></div>
            </div>
            <br>
            <button class="ui submit button massive fluid black" v-on="click: setTab('tab3')">Ok</button>
        </div>
    </div>
</div>

<div id="tab3" class="ui inverted blue vertical segment context" v-show="currentTab == 'tab3'">
    <div class="ui two column stackable center aligned page grid">
        <h1 class="ui dividing header inverted">Peça já...</h1>

        <div class="column two" id="ordered">
            <h2>Pedidos</h2>
        </div>

        <div class="column wide twelve" id="foods">


            <div class="swiper-container" id="foods_swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-repeat="4">
                        <img class="ui medium circular image" src="assets/images/fries.jpg">
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination" id="foods_swiper_pagination"></div>
            </div>
            <br>

        </div>

    </div>
</div>