<page-title>
    <a href="#/login">
        <i class="icon left arrow teal"></i>
    </a>
    Escolha o Restaurante
</page-title>

<div id="tab2">
    <div class="ui one column stackable center aligned page grid">
        <div class="column wide" id="restaurants">
            <div class="ui divided list">
                <a href="#/food-select"
                   preload-bg-image="{{ restaurant.image.src }}"
                   default-image="assets/images/missing.png"
                   fallback-image="assets/images/missing.png"
                   title="{{ restaurant.name }}"
                   class="item"
                   ng-repeat="restaurant in restaurants"
                   ng-click="setRestaurant(restaurant.id)"
                        >
                </a>
            </div>
        </div>
    </div>
</div>
