<page-title><a href="#/food-select"><i class="icon left arrow teal"></i></a>Pedido</page-title>
<div id="tab3">
    <div class="ui one column stackable page grid">

        <div class="column wide twelve" id="review">
            <table class="ui table">
                <tr ng-repeat="food in foods | filter: chose" ng-init="total=0">
                    <td>
                        <img class="ui left avatar floated image"
                             preload-image
                             ng-src="{{ food.image }}"
                             default-image="assets/images/missing.png"
                             fallback-image="assets/images/missing.png">

                        <div class="content">
                            <div class="header">{{ food.name }}</div>
                        </div>
                    </td>
                    <td class="two wide right aligned">
                        {{ food.amount }}
                    </td>
                    <td class="two wide right aligned" ng-init="total+ ( food.price * food.amount)">
                        R$ {{ food.price }}
                    </td>
                </tr>
                <tfoot>
                    <tr>
                        <td colspan="3" class="right aligned">
                            Total: R$ {{ total }}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="ui grid">
            <div class="column center aligned">
                <a class="ui black button massive" href="#/review">
                    <i class="check icon"></i> Ok! Pedir
                </a>
            </div>
        </div>

    </div>
</div>

