.segment.context {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#foods .food img {
    height: 250px;
    width: 250px;
}

#foods .food.item {
    position: relative;
}

#foods .food.item .mark {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
}

#foods .food.item .dimmer{
    z-index: 998;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    display: block;
    width: 100%;
    position: absolute;
}

.view-animate.ng-enter {
    left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
    left: 0;
}

.view-animate.ng-leave.ng-leave-active {
    left: -100%;
}

body {
    overflow-x: hidden;

}

#restaurants .list .item {
    height: 200px;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}

.page-header a {
    /*float: left;*/
    background: #fff;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.page-header {
    position: relative;
}

.modal p {
    color: #000;
}
