.segment.context {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#restaurants {
    -webkit-transition-delay: 2s; /* Safari */
    transition-delay: 2s;
}

#tab3 {
    margin-bottom: 100px;
}

#foods .food img {
    height: 250px;
    width: 250px;
}

#foods .food.item {
    position: relative;
}

#foods .food.item .mark {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
}

#foods .food.item .dimmer {
    z-index: 98;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    display: block;
    width: 100%;
    position: absolute;
}

.view-animate.ng-enter {
    left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
    left: 0;
}

.view-animate.ng-leave.ng-leave-active {
    left: -100%;
}

body {
    overflow-x: hidden;

}

#restaurants .list .item {
    height: 200px;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}

.page-header a {
    /*float: left;*/
    background: #fff;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.page-header {
    position: relative;
}

.modal p {
    color: #000;
}

.ui.menu.bottom.fixed {
    top: auto;
    bottom: 0;
    left: 0;
}

.ui.menu.bottom.fixed .grid {
    margin: 1px;
}

#review .table tr td {
    border-style: dashed;
    border-width: 2px;
}

#credit_card {
    perspective: 1000;
    -webkit-perspective: 1000;
    height: 300px;
}

#credit_card .front, #credit_card .back {
    border-radius: 10px !important;
    color: #fff !important;
    height: 230px;
    width: 320px;
    font-family: Courier New, monospace;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 290px) {
    #credit_card .front, #credit_card .back, .flipper {
        width: 280px !important;
    }
    .flipper{
        margin-left: -30px;
    }
}

@media screen and (min-width: 291px){
    .flipper{
        width: 320px !important;
    }
}

#credit_card select, #credit_card input {
    font-family: Courier New, monospace;
}

#credit_card_numbers {
    padding-left: 14px;
    padding-right: 14px;
}

#credit_card_numbers .column {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 0;
}

#credit_card_expiration .column {
    padding-bottom: 0;
}

#credit_card_name.grid .column {
    padding-top: 0;
}

#card_holder_name {
    text-align: left !important;
    text-transform: uppercase;
}

#credit_card .front {
    background: #f85032; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #f85032), color-stop(50%, #f16f5c), color-stop(51%, #f6290c), color-stop(71%, #f02f17), color-stop(100%, #e73827)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* IE10+ */
    background: linear-gradient(45deg, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#e73827', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

#credit_card .back {
    background: #f7310e; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f7310e 0%, #ef503b 50%, #f6290c 51%, #f02f17 71%, #e51906 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #f7310e), color-stop(50%, #ef503b), color-stop(51%, #f6290c), color-stop(71%, #f02f17), color-stop(100%, #e51906)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #f7310e 0%, #ef503b 50%, #f6290c 51%, #f02f17 71%, #e51906 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #f7310e 0%, #ef503b 50%, #f6290c 51%, #f02f17 71%, #e51906 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #f7310e 0%, #ef503b 50%, #f6290c 51%, #f02f17 71%, #e51906 100%); /* IE10+ */
    background: linear-gradient(45deg, #f7310e 0%, #ef503b 50%, #f6290c 51%, #f02f17 71%, #e51906 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7310e', endColorstr='#e51906', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

#credit_card .front .header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Courier New, monospace;
}

#credit_card .front input, #credit_card .front select, #credit_card .back input {
    padding-right: 2px;
    padding-left: 2px;
    text-align: center;
}

#credit_card .back .segment.white label {
    color: black;
}

#credit_card .back .form .field.cvc-code {
    float: right;
}

#credit_card .back .form .field.cvc-code input {
    width: 60px;
}

#credit_card .back .magnetic-strip {
    margin-left: -1em;
    margin-right: -1em;
    height: 50px;
}

#credit_card.turn .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute !important;
    top: 10px;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}

